@media screen and (max-width:768px){
    .header{
        background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../image/img\ 1.jpg)center/cover fixed no-repeat;
        /* background-position: 0 0; */
    }
    .video-container{
        display: none!important;
    }
    .banner-social-icon:hover{
        background-color: #000000;
        transition: all 0.3s linear;
    }
    .banner-title{
        font-size: 4rem;
    }
}
@media screen and (min-width:768px){
    
    
    .grid-container{
        max-width: 75vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
    }
    .about__img-special{
        order: -1;
      }
      .about-container{
        grid-template-rows: 1fr 1fr;
      }
      .drink-card-list{
        grid-template-columns: 1fr 1fr!important;
        grid-gap: 1rem;
      }
      
      
      
}
/* @media screen and (min-width:768px){
    
  } */