@media screen and (max-width:768px){
    .header{
        background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../image/img\ 1.jpg)center/cover fixed;
    }
    .video-container{
        display: none!important;
    }
    .banner-social-icon:hover{
        background-color: #000000;
        transition: all 0.3s linear;
    }
    .banner-title{
        font-size: 4rem;
    }
}