*{
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
}
:root{
        --brightYellow:#E3B505;
        --darkBrown:#BB9457;
        --yellow:rgb(242, 180, 80); 
        --brown:#382923;
        --black:#191919;
        --grey:#A9B2AC;
}

/* banner-socialLinks */
.bx{
    font-size: 1.5rem;
    color: #ffffff;
}
/* header */
.header{
    position: relative;
    height: 100vh;
    /* width: 100%; */
    z-index: 3;
    color: #fff;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
}
.banner{
    text-align: center;
    z-index: 3;
}
.banner-title{
    font-size: 6rem;
}
.banner-social-icon {
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.25rem;
    transition: all 0.3s linear;

}
.banner-social-icon:hover{
    background-color: #E3B505;
    transition: all 0.3s linear;
}
.banner-socialLinks{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2rem 2rem 2rem 2rem;
    grid-column-gap: 0.7rem;
    justify-content: center;
}
/* banner-video */
.video-container{
    position: absolute!important;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%!important;
    width: 100%!important;
    
   
}
.video-items{
    height: 100%!important;
    width: 100%!important;
    object-fit: cover;
}
/* navbtn */
.navbtn {
    position: fixed;
    top: 5%;
    right: 5%;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.navbtn:hover{
    cursor: pointer;
}
.navbtn .bx{
    font-size: 4rem;

}
/* animation */
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
/* nav items */
.nav-item{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--brightYellow);
    height: 100%;
    /* width: 50%; */
    padding: 2rem 0rem!important;
}
.site-logo{
    padding: 1rem 1.4rem!important;
}

.nav-list{
    list-style: none;
    /* padding: 2rem; */
    
}
.nav-single-link{
    text-decoration: none;
    color: #fff;
    font-size: 2rem!important;
    display: block;
    padding: 1rem 1.4rem!important;
    transition: all 0.5s ease-in-out;
}
.nav-single-link:hover{
    text-decoration: none;
    color: #fff;
    font-size: 2rem!important;
    display: block;
    background-color: #000;
    padding: 1rem 1.5rem!important;
    transition: all 0.5s ease-in-out;

}
.toggole-btn{
    position: absolute;
    display: block;
    right: 5%;
    bottom: 5%;
    z-index: 3;
    color: #fff;
    background-color: red;
    padding: 0.3rem!important;
}
.video-switch{
    
}