*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
        --brightYellow:#E3B505;
        --darkBrown:#BB9457;
        --yellow:rgb(242, 180, 80); 
        --brown:#382923;
        --black:#191919;
        --grey:#A9B2AC;
}

/* banner-socialLinks */
.bx{
    font-size: 1.5rem;
    color: #191919;
}